<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- <head> -->
<head th:replace="fragments/base :: head"></head>
<link th:remove="tag" href="../static/css/default.css" rel="stylesheet"
	media="screen" />
<!-- </head> -->
<body data-ng-app="admin_panel">


	<div th:replace="fragments/base :: header"></div>
	<div th:replace="fragments/base :: navbar"></div>
	<div data-ng-controller="testController"
		class="container well clear_background light-shadow">

		<div th:replace="fragments/tables :: forum-cagegory-crud-table"></div>


		<!-- 	<p>Name: <input type="text"/></p> -->
		<p>You wrote: {{ post }}</p>


	</div>
	<div th:replace="fragments/base :: js"></div>
	<script src="../static/js/pages/test.js"
		th:src="@{/js/pages/test.js}"></script>
</body>
</html>