body {
	font: "Trebuchet MS", sans-serif;
	font-size: 120%;
	margin: 4px;
	background-color: #FDFDFD;
}

.well {
	padding: 19px;
	margin-bottom: 4px;
	border-color: #CCC;
}

.well-lg {
	padding: 24px;
	border-radius: 6px;
}

.well-sm {
	padding: 9px;
	border-radius: 3px;
}

.btn-green {
	font-size: 12px;
	color: white;
	background-color: #7AABA4;
	border-style: solid;
	border-color: #5A5A5A;
	margin: 4px;
}

.btn-green:hover {
	background-color: #999;
	color: white;
}

/* .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, */
/* 	.btn.active.focus { */
/* 	color: white; */
/* } */

.table-panel-header {
	margin-bottom: 0px;
	border-bottom: none;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #eee;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.table-external-border tbody {
	border: solid;
	border-width: 1px;
	border-color: #CCC;
}

.navbar {
	margin-bottom: 4px;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #CCC;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #F5F5F5 100%);
}

.no_padding {
	padding-left: 0px;
	padding-right: 0px;
}

.no_margin {
	margin-left: 0px;
	margin-right: 0px;
}

body.login {
	margin: 15px;
	padding-top: 30px;
}

.dataTables_filter {
	text-align: right;
}

#login-form {
	/* 	max-width: 30em !important; */
	
}

#login_logo {
	background: url("images/bm_logo.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	min-height: 99px;
	min-width: 150px;
	max-height: 99px;
	max-width: 150px;
	margin-bottom: 30px;
}

#login_logo_sm {
	background: url("images/bm_logo_sm.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	min-height: 48px;
	min-width: 143px;
	max-height: 48px;
	max-width: 143px;
	margin-top: -4px;
}

#login_logo_xs {
	background: url("images/bm_logo_xs.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	min-height: 43px;
	min-width: 49px;
	max-height: 43px;
	max-width: 49px;
}

.logout_button {
	font-size: x-small;
	margin-top: 5px;
	padding: 4px;
}

.caret {
	margin-left: 4px;
}

a.user_link {
	font-weight: bold;
}

/* .btn-default { */
/* 	color: #FFF; */
/* 	background-color: rgb(84, 114, 146); */
/* 	border-color: #355169; */
/* } */

/* .btn-default:hover { */
/* 	color: #FFF; */
/* 	background-color: #2098D1; */
/* 	border-color: rgb(84, 114, 146); */
/* } */

.clear_background {
	background-color: #FBFBFB;
}

table.forums-rows tr>td {
	line-height: 2;
	vertical-align: inherit;
}

/* th { */
/* 	background-color: #4577AB; */
/* 	color: white; */
/* 	font-family: Helvetica, Arial, sans-serif; */
/* 	font-size: 13.2px; */
/* 	font-weight: normal; */
/* } */
/* .table-bordered { */
/* 	border: 1px solid #4577AB */
/* } */

/* .table-striped>tbody>tr:nth-of-type(odd) { */
/* 	background-color: #E2E2E2; */
/* } */

/* div.dataTables_wrapper table { */
/* 	borde: 1px solid #c0c0c0; */
/* } */

/* div.dataTables_wrapper table th, div.dataTables_wrapper table td { */
/* 	border: 1px solid #c0c0c0; */
/* } */

/* div.dataTables_wrapper div.dataTables_scrollHead table { */
/* 	border-bottom: none; */
/* } */

/* table.dataTable, table.dataTable td, table.dataTable th { */
/* 	-webkit-box-sizing: content-box; */
/* 	-moz-box-sizing: content-box; */
/* 	box-sizing: content-box; */
/* } */