<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
<title>Business Monitor</title>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="icon" th:href="@{/css/images/favicon.ico}"
	type="image/x-icon" />

<!-- <link rel="stylesheet" type="text/css" media="all" -->
<!-- 	href="../../static/css/bootstrap-paper.css" -->
<!-- 	th:href="@{/css/bootstrap-paper.css}" /> -->

<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
	href="../../static/css/bootstrap.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/bootstrap-theme.css"
	th:href="@{/css/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/dataTables.bootstrap.css"
	th:href="@{/css/dataTables.bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/footable.core.css"
	th:href="@{/css/footable.core.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/bm.css" th:href="@{/css/bm.css}" />
</head>

<body>
	<div th:fragment="header">
		<div class="container">
			<div class="row hidden-xs well themed-well">
				<div class="col-sm-6 col-md-6 no_padding">
					<div id="login_logo_sm" class="img-responsive"></div>
				</div>
				<div class="col-sm-6 col-md-6 text-right">
					<a th:href="@{/hello}" class="user_link"><span
						sec:authentication="name"></span> (Conectado)</a>
					<form th:action="@{/logout}" method="post">
						<input class="btn btn-default logout_button" type="submit"
							value="Cerrar Sesión" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="navbar">
		<div class="container-fluid no_padding">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#ejemplo">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Brand</a>
					</div>

					<div class="collapse navbar-collapse" id="ejemplo">
						<ul class="nav navbar-nav">
							<li id="foros"><a th:href="@{/forums}">Debates</a></li>
							<li id="contactos"><a th:href="@{/hello}">Integrantes</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Mensajería<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Enviar mensaje rápido</a></li>
									<li><a href="#">Bandeja de entrada</a></li>
									<li><a href="#">Enviar mensaje</a></li>
								</ul></li>

						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li id="admin_panel"><a th:href="@{/admin_panel}">Panel
									de Admin</a></li>
							<li class="visible-xs"><a th:href="@{/login?logout}">Cerrar
									Sesión </a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="container-fluid well clear_background light-shadow"
		th:fragment="content">
		<div class="container ">
			<div></div>
		</div>
	</div>

	<div th:fragment="js">
		<script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
		<script src="../../static/js/bootstrap.js"
			th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
		<script src="../../static/js/jquery.dataTables.js"
			th:src="@{/js/jquery.dataTables.js}"></script>
		<script src="../../static/js/dataTables.bootstrap.js"
			th:src="@{/js/dataTables.bootstrap.js}"></script>
		<script src="../../static/js/footable.js" th:src="@{/js/footable.js}"></script>
		<script src="../../static/js/angular.min.js"
			th:src="@{/webjars/angularjs/1.5.0/angular.min.js}"></script>
		<script th:src="@{/webjars/angularjs/1.5.0/angular-resource.min.js}"></script>
		<script src="../../static/js/pages/erum.js"
			th:src="@{/js/pages/erum.js}"></script>
	</div>
</body>
</html>